	<!-- slider -->
	<div class="slider">
		<!-- carousel__element owl-carousel -->
		<div class="carousel__element owl-carousel" data-options='{"items":1,"loop":true,"dots":false,"nav":false,"margin":0, "autoplay": true, "autoplayTimeout": 3000}'>
			<div class="slider__item" style="background-image: url('app/assets/images/slider.jpg');">
				<div class="md-tb">
					<div class="md-tb__cell">
						<div class="slider__content">
							<div class="container">
								<%= image_tag('slider.jpg') %>
								<h2>ABCDEFGHIJKL</h2>
								<p>A Bootstrap 4 Responsive multi-purpose Theme for the Business, Web agency and more!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider__item" style="background-image: url('app/assets/images/slider.jpg');">
				<div class="md-tb">
					<div class="md-tb__cell">
						<div class="slider__content">
							<div class="container">
								<h2>ABCDEFGHIJKL</h2>
								<p>Curabitur elementum urna augue, eu porta purus gravida in. Cras consectetur, lorem a cursus vestibulum, ligula purus iaculis nulla, in dignissim risus turpis id justo. Sed eleifend ante et ligula elei</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- End / carousel__element owl-carousel -->
		
	</div><!-- End / slider -->