<%= render 'partials/navbarhome' %>
<div class="container" style="padding-top: 3%; padding-bottom: 3%;">
<div class="col-12">
    <div class="row">
        <div class="col-md-6">
            <h2 class="my-text3">Prof. Dr.G.V.Parishwad</h2>
            <hr style="border-color: #dc3d23;">
            <p class="my-text">Walchand College of Engineering (WCE) is one of the oldest engineering colleges in India. It was established in June 1947 as New Engineering College and renamed as Walchand College of Engineering in 1955. Since then, it has bloomed into a full-fledged institution offering today six undergraduate programs, ten post-graduate programs and Ph. D. programs in engineering disciplines, affiliated to Shivaji University, Kolhapur. It also offers four diploma courses affiliated to the Maharashtra State Board of Technical Education. Walchand College prides itself in producing “capable graduate engineers with an aptitude for leadership and research”, which can be seen from leadership positions occupied by its vast alumni in all walks of life within India and abroad..<br>Autonomous Status has been conferred upon the college by Shivaji University and UGC in the year 2007. After successful completion of the first term, the Autonomous status has been extended by the University and the UGC for the next six-year term ending 2019-20. Walchand College participated in the World Bank funded Government of India scheme, 'TEQIP' (Technical Education Quality Improvement Program) Phase I project and we received second rank all over India, out of 127 national institutes, in its program impact assessment survey in 2010. WCE is successfully continuing its journey in TEQIP phase II in upgrading the Post graduate and Research infrastructure. WCE has received Rs. 10.50 Crore till now and already spent Rs. 9.00 Crore.<br>The institute has strong association with industry. John Deere, nVidia, Tata Technologies, etc. are some of the top companies who have set up specialized labs here. WCE has about laboratories in various departments. It strives continuously to modernize these laboratories acquisition of advanced equipment. The aim is to support its revamped curricula and focus on faculty and students research. State-of-the-art lab infrastructure provides strong base to faculty and students for research and robust technical training. It is a matter of great satisfaction that WCE students are well received by diversified industry with placement record matching the best among peers. Our alumni have made the college proud with their success.<br>The College is also proud to have a new library building donated by Seth Walchand Hirachand Memorial Trust, which has supported this institution ever since 1955. With a state-of-art Central Library with national/international journals and a massive number of reference books for every subject and specialized books on various topics, our students find it very easy to develop a research oriented mind-set. We encourage work on research projects helping them grow professionally and making them systematic and multidiscipline oriented.<br>In accordance with our Vision and Mission, we devote ourselves to create graduates with inquisitive minds who have a perpetual desire for knowledge. We believe in all-round growth of our students. Our graduates should not only be technically competent but also be good human beings. Hence we nurture our students to make them ethical, moral and virtuous so that they serve make society and country a better place to live. For this we support technical, cultural, social and sports activities. These help them become strong team players, to boost their confidence and to inculcate in them the qualities to achieve their goals and become world class leaders.<br>Future plans of the college:<br>Create Centers of excellence in the areas:<br>

            CAD/CAM and PLM<br>

            MEMS<br>

            Mechatronics<br>

            Embedded Systems<br>

            VLSI<br>

            Computational Fluid Dynamics<br>

            Construction Materials and Machinery<br>

            Structural Health Audit and Disaster Management<br>

            Energy Studies (Non-conventional)<br>

            Developing of Infrastructure/Equipment for creating Video facility<br>

            Networking through Video Conferencing<br>

            Enterprise Resource Planning<br>

            Knowledge sharing with other institutes<br>

            High speed Internet facility<br>

            Global Recognition<br>

            Deemed University<br>

            Interac
            </p>
           <p align="right" class="link-options under"><a href="http://www.walchandsangli.ac.in/Index.asp"><b>Walchand College of Engineering, Sangli</b></a></p>
        </div>
        <div class="col-md-6" style="padding: 10%;">
            <%= image_tag(('director.png'))%>
        </div>
    </div>
</div>
</div>