<%= render 'partials/navbarhome' %>
<div class="container" style="padding-top: 3%; padding-bottom: 3%;">
<div class="col-12">
	<div class="row">
		<div class="col-md-6" style="padding-left: 5%; padding-top: 9%;">
			<%= image_tag(('teqip3.png'))%>
		</div>
		<div class="col-md-6">
			<h2 class="my-text3">TEQIP PHASE III</h2>
			<hr style="border-color: #dc3d23;">
			<p class="my-text">
				The Project, Third phase of Technical Education Quality Improvement Programme (referred to as TEQIP-III) is fully integrated with the Twelveth Five-year Plan objectives for Technical Education as a key component for improving the quality of Engineering Education in existing institutions with a special consideration for Low Income States and Special Category States (SCS) and support to strengthen few affiliated technical universities to improve their policy, academic and management practices
				Project Objectives:<br>
			The Project will focus on the following objectives:<br>
			•	Improving quality and equity in engineering institutions in focus states viz. 7 Low Income States (LIS ), eight states in the North-East of India, three Hill states viz. Himachal Pradesh, Jammu & Kashmir, Uttarakhand and Andaman and Nicobar Islands (a union territory (UT))<br>
			•	System-level initiatives to strengthen sector governance and performance which include widening the scope of Affiliating Technical Universities (ATUs) to improve their policy, academic and management practices towards affiliated institutions, and<br>
			•	Twinning Arrangements to Build Capacity and Improve Performance of institutions and ATUs participating in focus states.<br>
			 Scope:<br>
			Only the Government and Government aided AICTE approved Engineering institutions/Engineering faculty/Engineering Teaching Department/Constituent Institutions of Universities/Deemed to be Universities and new centrally funded institutions in SCS will be the part of the project.<br> 
			An estimated 200 Government and Government funded Engineering institutions including Affiliating Technical Universities (ATUs) will be selected under different sub-components in one or two cycles.<br>

			The Project will focus on the following objectives:<br>

		    Improving quality and equity in engineering institutions in focus states viz. 7 Low Income States (LIS ), eight states in the North-East of India, three Hill states viz. Himachal Pradesh, Jammu & Kashmir, Uttarakhand and Andaman and Nicobar Islands (a union territory (UT)).<br>
		    System-level initiatives to strengthen sector governance and performance which include widening the scope of Affiliating Technical Universities (ATUs) to improve their policy, academic and management practices towards affiliated institutions, and<br>
		    Twinning Arrangements to Build Capacity and Improve Performance of institutions and ATUs participating in focus states
			</p>
			<p align="right" class="link-options under"><a href="http://www.npiu.nic.in/teqip3introduction.html"><b>TEQIP III</b></a></p>
		</div>
	</div>
</div>
</div>
