<%= render 'partials/navbarhome' %>
<div class="container" style="padding-top: 3%; padding-bottom: 3%;">
<div class="col-12">
	<div class="row">
		<div class="col-md-6">
			<h2 class="my-text3">NPIU</h2>
			<hr style="border-color: #dc3d23;">
			<p class="my-text">
				National Project Implementation Unit (NPIU) is a unit of Ministry of Human Resource Development, Government of India, established in August 1990 for coordination, facilitation, monitoring and to provide guidance to the States/Institutions in all aspects of the projects.<br>

			During 1991 to 2007, NPIU implemented three Technician Education Projects of Government of India assisted by the World Bank, which helped to strengthen and upgrade the Technician Education System and benefited 552 polytechnics in 27 States including UTs of Andaman &amp; Nicobar Island and Puducherry. These three Projects have been rated as 'Highly Satisfactory' on Project Management and implementation, which is the highest rating, provided by the World Bank.<br>

			Success of three Technician Education Projects encouraged the Govt. of India to seek similar financial assistance from the World Bank for a systemic transformation of the technical education system as a whole with special focus on overall Quality Improvement in engineering education.<br>

			Vision<br>

			To develop and nurture a Technical Education System in the country which would produce skilled manpower of the highest quality comparable to the very best in the world and in adequate numbers to meet the complex technological needs of the economy; and provide the nation a comparative advantage in the creation and propagation of innovative technological solutions and in the development of a technological capacity of the highest order, both for its application in economic development of the country and for becoming a major supplier of technology and technological services in the world.<br>

			Mission<br>

			    To plan and design innovative projects for total quality improvement in technical education system in the country.<br>
			    To develop a model project management system<br>
			    To coordinate, monitor and review project implementation<br>
			    To liaise with project stakeholders such as Central Government, State Governments, State Technical Education Departments, Institutions, Training providers, funding agencies and industry etc;<br>
			    To disseminate widely, success stories and lessons learnt from the successful projects.<br>
			    To undertake research studies for developing models of successful Project implementation.<br>
			    To prepare guideline documents<br>
			    To conduct training workshops on effective implementation of the Projects.<br>
			    To develop close linkages and network among different agencies.<br>
			</p>
			 <p align="right" class="link-options under"><a href="http://www.npiu.nic.in/index.html"><b>NPIU(National Project Implementation Unit)</b></a></p>
		</div>
		<div class="col-md-6" style="padding-left: 14%; padding-top: 9%;">
			<%= image_tag(('NPIU.png'))%>
		</div>
	</div>
</div>
</div>